$main-background-color: #121212;
$main-text-color: #ffffff;
$main-border-color: #ffffff;
$navigation-font-size: 18px;

.MuiTypography-root {
  font-family: 'Lato', sans-serif !important;
}
.MuiAppBar-root.navigation {
  background-color: $main-background-color;

  .MuiToolbar-root.navigation-toolbar {
    min-height: 115px;
  }
}

.navigation .MuiLink-root {
  color: $main-text-color;
  font-family: 'Lato', sans-serif;
  font-size: $navigation-font-size;
}

.drawer-navigation .MuiDrawer-paper {
  background-color: $main-background-color;
  color: $main-text-color;
  padding-top: 1rem;
}

.MuiIconButton-root.drawer-icon {
  margin-left: 1rem;
}

.hero {
  height: 100%;
  position: relative;
  overflow: hidden;

  .hero-image {
    width: 100%;
    object-fit: cover;
  }

  .hero-text-box  {
    color: $main-text-color;
    padding: 5rem;
    position: absolute;
    bottom: 0;

    .main-text {
      font-size: 34px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-image {
      aspect-ratio: 2/3;
  }

    
  
}

@media screen and (max-width: 360px) {
  .main-text {
    font-size: 24px !important;
  }
}